<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <h2 class="section-heading">About 5GIF</h2>
                <hr class="light">
                <p class="text-faded">
                   5G India Forum An industry collaborative forum, was established to enable synergizing the national efforts and play a significant role in shaping the strategic, commercial and regulatory development of the 5G ecosystem in India. 
                </p>
                   <p> Contact us, if your organization would like to contribute and participate in 5GIF</p>
                
                <a href="/aboutus#start" class="btn btn-default btn-xl"> Know More.. !</a>
            </div>
        </div>
    </div>
</section>
