
  <style>
  .fa-blue {
  color: blue;
}
 </style>
<section class="no-padding" id="members">
<hr>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Members</h2>
                    <!-- <hr class="primary"> -->
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row no-gutter justify-content-md-center">

        
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                     <img class="wow bounceIn text-primary " style="height:64px" src="img/members/ericsson.jpg"></img>
                 </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                     <img class="wow bounceIn text-primary " style="height:64px" src="img/members/huawei.jpg"></img>
                 </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <img class="wow bounceIn text-primary " style="height:64px" src="img/members/intel.jpg"></img>
                 </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                     <img class="wow bounceIn text-primary " style="height:64px" src="img/members/nokia.png"></img>
                 </div>
            </div>

            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                     <img class="wow bounceIn text-primary " style="height:64px" src="img/members/Qualcomm-logo.jpg"></img>  
                </div>
            </div>
             <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                     <img class="wow bounceIn text-primary " style="height:32px" src="img/members/samsung.jpg"></img>
                 </div>
            </div>
          
                
 
        </div>
<div class="row justify-content-md-center">
<!--      <div class="col-lg-6 col-md-6 text-center" > -->
                <div class="service-box pull-center">
                     <img class="wow bounceIn text-primary " style="height:64px" src="img/members/zte.jpg"></img>
                     
                 </div>
<!--             </div> -->
                
</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="">

                    <h3 class="section-heading">Supported By</h3>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
    
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary" src="img/members/if3.png"></i> -->
                       <a href="https://indianfriendsof3gpp.org"> <img class="wow bounceIn text-primary" style="height:64px" src="img/members/if3.png"></img> </a>
                        <!-- <img src="img/members/if3.png" alt="">  -->
                        <!-- <h3>IF3</h3> -->
                        <!-- <p class="text-muted">Indian Friends of 3GPP</p> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary" src="img/members/if3.png"></i> -->
                        <img class="wow bounceIn text-primary" style="height:48px" src="img/members/coai.jpeg"></img>
                        <!-- <img src="img/members/if3.png" alt="">  -->
                        <!-- <h3>IF3</h3> -->
                        <!-- <h3 >COAI</h3> -->
                        <!-- <p class="text-muted">Indian Friends of 3GPP</p> -->
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</section>
