<!-- jQuery -->
<script src="/demowebsite_5gif/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/demowebsite_5gif/js/bootstrap.min.js"></script>

<!-- Splide JavaScript -->
<script src="/demowebsite_5gif/js/splide.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/demowebsite_5gif/js/jquery.easing.min.js"></script>
<script src="/demowebsite_5gif/js/jquery.fittext.js"></script>
<script src="/demowebsite_5gif/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/demowebsite_5gif/js/creative.js"></script>
