<div id="image-slider" class="splide" style="width:90vmax; margin:0 auto;">
  <div class="splide__track">
    <ul class="splide__list">
		  <li class="splide__slide">
			  <a href="https://www.5gindiaforum.in/events/2021_10_5gacia.html"><img src="/img/Banner_Industrial_automation_5GACIA_pre_event.jpg"></a>
			</li>
      <li class="splide__slide">
			  <a href="https://www.5gindiaforum.in/events/6g_event.html"><img src="/img/Beyond5G_Banner_post_event_5GIF.jpg"></a>
			</li>
		</ul>
  </div>
</div>


<script> 	
	document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '#image-slider' , {
		}).mount();
	} );
</script>
